langchain
langchain-core
langchain-community
pypdf 
pymupdf
#FOR EMBEDDINGS
sentence-transformers
faiss-cpu
chromadb
langchain-groq
python-dotenv
typesense
langchain_openai
langgraph
streamlit
transformers